* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 10%;
}

input[type="radio"] {
    display: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 650px 1fr;
}

.slides {
    position: relative;
    grid-column: span 2;
}

.slide {
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.slide1 {
    background-image: url("./1.jpg");
}

.slide2 {
    background-image: url("./2.jpg");
}

.slide3 {
    background-image: url("./3.jpg");
}

.slide4 {
    background-image: url("./4.jpg");
}

.controls label {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    position: relative;
    border-radius: 50%;
    border: solid 2px lightskyblue;
}