* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 2%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 615px 1fr;
    row-gap: 20px;
    position: relative;
}

.slides {
    position: relative;
    grid-column: span 2;
    height: 615px;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide1 {
    background-image: url("./1.jpg");
}

.slide2 {
    background-image: url("./2.jpg");
}

.slide3 {
    background-image: url("./3.jpg");
}

.slide4 {
    background-image: url("./4.jpg");
}


.content p {
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(20px);
    transition: all 0.5s ease 0.2s;

}

.slider {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.controls {
    justify-self: end;
    display: flex;
}

.controls label {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    padding: 20px;
    border-radius: 50%;
    position: relative;
}

.controls label::after {
    border: solid 2px lightskyblue;
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    transition: all 0.3s ease;

}

.controls label:hover::after {
    border-color: white;
}

#slide1:checked~.controls label:nth-of-type(1)::after,
#slide2:checked~.controls label:nth-of-type(2)::after,
#slide3:checked~.controls label:nth-of-type(3)::after,
#slide4:checked~.controls label:nth-of-type(4)::after {
    background-color: white;
    border-color: white;
}

#slide1:checked~.slides .slide1,
#slide2:checked~.slides .slide2,
#slide3:checked~.slides .slide3,
#slide4:checked~.slides .slide4 {
    opacity: 1;
    z-index: 1;
}

#slide1:checked~.content p:nth-of-type(1),
#slide2:checked~.content p:nth-of-type(2),
#slide3:checked~.content p:nth-of-type(3),
#slide4:checked~.content p:nth-of-type(4) {
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 431px) {
    body {
        margin: 5%;
        font-size: 20px;
    }

    .wrapper {
        grid-template-columns: none;
        grid-template-rows: 300px 1fr 1fr;
    }

    .slides {
        height: 300px;
        grid-column: unset;
    }

    .controls {
        grid-row: 2/3;
        justify-self: center;
    }
}